extends ../template/template

block main
    style
        include ../styles/inventory/dashboard.css
    div(class="container-banner")
        h1 Bienvenido Empleado!
        img( class="img-1"  src="https://img.freepik.com/vector-premium/composicion-moderna-outlet-diseno-plano_23-2147957703.jpg?w=1380" alt="") 


