html(lang="es")
    head
    style
        include ../styles/inventory/sidebar.css 
body
    div(class="container-sidebar")
        img( class="logo-sidebar"  src="/auth/logo.svg" alt="") 
        a( class="link-sidebar"  href="/dashboard") home  
        a( class="link-sidebar"  href="/inventory") inventario   
        a( class="link-sidebar"  href="/calculadora") calculadora 
    block main
    